.cardImg {
  height: 100%;  
  border-radius: 5%;
  filter: drop-shadow(2px 4px 6px black);
}
.img:hover, .empty-checkbox:hover {
  filter: brightness(0.4);  
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.dragging-div {
  cursor: grab;
  opacity: 0;
  transform: rotate(90deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.first-to-other {
  width: 90%;
}

.first-to-other  img {
  height: 45% !important;
}

.empty-checkbox, .clicked{
  border-radius: 30%;
  width: 1.3rem;
  height: 1.3rem;
  position: absolute !important;
  top: 0.8rem;
  left: 0.8rem;
  background-color: white;
}

.hide {
  width: 0;
  height: 0;
  position: absolute;
}
