img {
  height: 100% !important;  
  border-radius: 5%;
  filter: drop-shadow(2px 4px 6px black);
}

img:hover {
  transform: scale(1.1);
  filter: brightness(0.4);
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.dragging-div {
  cursor: grab;
  opacity: 0;
  transform: scale(1) rotate(90deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.first-to-other {
  width: 90%;
}

.first-to-other > img {
  height: 45% !important;
}
